Repository yeagerai/genlayer-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-unit-pytest, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0 # Use the ref you want to point at
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: ["--branch", "main"]
  - repo: local
    hooks:
      - id: backend-unit-pytest
        name: backend unit tests with pytest
        entry: python3 -m pytest backend
        language: system
        types: [python]
        pass_filenames: false
        files: backend
        always_run: false
  # Copied from https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: sh -c "cd frontend && npm run lint"
        language: system
        files: frontend
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: sh -c "cd frontend && npm run format"
        language: system
        files: frontend

default_install_hook_types:
  - pre-commit
  - commit-msg

refactor
  backend/consensus/base.py
  backend/consensus/vrf.py
  tests/unit/consensus/test_base.py
  tests/unit/test_vrf.py
Due: backend-unit-pytest

fix trailing whitespace
  backend/protocol_rpc/requirements.txt
Due: none

improve tests
  tests/unit/consensus/test_base.py
Due: none

remove warning
  tests/unit/pytest.ini
Due: none

add tests
  tests/unit/consensus/test_base.py
Due: none

feat: handle rotation of validators
  backend/consensus/base.py
  backend/consensus/vrf.py
  tests/unit/consensus/test_base.py
Due: backend-unit-pytest

fix tests
  backend/consensus/base.py
  tests/unit/consensus/test_base.py
Due: backend-unit-pytest

add unit test
  tests/unit/test_vrf.py
Due: none

fix pre-commit
  .pre-commit-config.yaml
Due: none

merge conflicts
  backend/consensus/base.py
  backend/database_handler/migration/versions/eb32e4bdb446_change_value_from_decimal_to_int.py
  tests/unit/consensus/test_base.py
Due: backend-unit-pytest

fix tests
  tests/unit/consensus/test_base.py
Due: none

ci(sonarcloud): fix organization name (#500)
  .github/workflows/frontend-unit-tests.yml
  .github/workflows/test-sonarqube.yml
  sonar-project.properties
Due: eslint, prettier

fix concurrency group
  .github/workflows/backend_integration_tests_pr.yml
Due: none

fix: always default model availability to provider availability
  backend/node/genvm/llms.py
  tests/unit/test_create_nodes.py
Due: backend-unit-pytest

fix: endpoints generator
  backend/protocol_rpc/endpoint_generator.py
  backend/protocol_rpc/endpoints.py
Due: backend-unit-pytest

fix: account methods test
  tests/common/request.py
  tests/common/response.py
  tests/integration/accounts/test_accounts.py
Due: none

feat: handle async in contracts init
  backend/node/genvm/base.py
Due: backend-unit-pytest

fix: info logs getting printed and removed unecessary prints in tests
  backend/protocol_rpc/endpoint_generator.py
  backend/protocol_rpc/message_handler/base.py
  tests/common/request.py
  tests/integration/accounts/test_accounts.py
Due: backend-unit-pytest

remove deprecated asyncio.iscoroutinefunction
  backend/node/genvm/base.py
Due: backend-unit-pytest

fix: integration tests
  .env.example
  backend/protocol_rpc/endpoints.py
  tests/common/request.py
  tests/integration/contract_examples/mocks/call_contract_function.py
  tests/integration/contract_examples/mocks/football_prediction_market_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/llm_erc20_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/log_indexer_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/storage_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/user_storage_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/wizard_get_contract_schema_for_code.py
  tests/integration/contract_examples/test_football_prediction_market.py
  tests/integration/contract_examples/test_llm_erc20.py
  tests/integration/contract_examples/test_log_indexer.py
  tests/integration/contract_examples/test_storage.py
  tests/integration/contract_examples/test_user_storage.py
  tests/integration/contract_examples/test_wizard_of_coin.py
Due: backend-unit-pytest

refactor: validators response processing in the frontend
  frontend/src/components/Simulator/ValidatorModal.vue
  frontend/src/hooks/useContractQueries.ts
  frontend/src/services/IJsonRpcService.ts
  frontend/src/services/JsonRpcService.ts
  frontend/src/stores/node.ts
  frontend/src/types/responses.ts
  frontend/src/types/results.ts
Due: eslint, prettier

refactor: frontend eth and gen endpoints
  frontend/src/hooks/useContractQueries.ts
  frontend/src/plugins/transactionsListener.ts
  frontend/src/services/JsonRpcService.ts
  frontend/src/stores/node.ts
Due: eslint, prettier

fix: frontend unit tests
  frontend/test/unit/services/JsonRpcService.test.ts
  frontend/test/unit/stores/node.test.ts
Due: eslint, prettier

improve test and fix
  backend/node/base.py
  backend/node/genvm/base.py
  tests/integration/conftest.py
  tests/integration/contract_examples/async_init.py
  tests/integration/contract_examples/test_async_init.py
  tests/integration/contract_examples/test_wizard_of_coin.py
Due: backend-unit-pytest

minor refactor
  tests/integration/contract_examples/test_async_init.py
  tests/integration/contract_examples/test_football_prediction_market.py
  tests/integration/contract_examples/test_log_indexer.py
  tests/integration/contract_examples/test_storage.py
  tests/integration/contract_examples/test_wizard_of_coin.py
Due: none

fix gh action trigger
  .github/workflows/backend_integration_tests_pr.yml
Due: none

fix tests
  tests/integration/contract_examples/mocks/call_contract_function.py
Due: none

Notes added by 'git notes add'
  58bf1c6f1d8c0ef7c3bb704979add1282eb14cfa
Due: none

fix: transaction hash in frontend rpc service
  frontend/src/services/IJsonRpcService.ts
  frontend/src/services/JsonRpcService.ts
Due: eslint, prettier

Add @AgustinRamiroDiaz and @denishacquin
  renovate.json
Due: none

feat(consensus): re execute consensus when validators dont agree with the leader (#505)
  .pre-commit-config.yaml
  backend/consensus/base.py
  backend/consensus/vrf.py
  backend/database_handler/migration/versions/eb32e4bdb446_change_value_from_decimal_to_int.py
  backend/database_handler/models.py
  backend/database_handler/transactions_processor.py
  backend/database_handler/types.py
  backend/domain/types.py
  backend/node/base.py
  backend/node/genvm/types.py
  backend/protocol_rpc/requirements.txt
  tests/integration/contract_examples/mocks/call_contract_function.py
  tests/unit/consensus/__init__.py
  tests/unit/consensus/test_base.py
  tests/unit/pytest.ini
  tests/unit/test_vrf.py
Due: backend-unit-pytest

go back to gpt4 for e2e tests
  tests/integration/conftest.py
Due: none

black formatting
  backend/node/base.py
Due: backend-unit-pytest

feat(GenVM): allow async calls in the contract constructor's __init__ (#521)
  .github/workflows/backend_integration_tests_pr.yml
  backend/node/base.py
  backend/node/genvm/base.py
  tests/integration/conftest.py
  tests/integration/contract_examples/async_init.py
  tests/integration/contract_examples/test_async_init.py
  tests/integration/contract_examples/test_football_prediction_market.py
  tests/integration/contract_examples/test_log_indexer.py
  tests/integration/contract_examples/test_storage.py
  tests/integration/contract_examples/test_wizard_of_coin.py
Due: backend-unit-pytest

fix: checkout code
  .github/workflows/unit-tests-pr.yml
Due: none

exclude tests folder for analysis
  sonar-project.properties
Due: none

remove unit tests from pre-commit
  .github/workflows/.pre-commit.yml
  .github/workflows/unit-tests-pr.yml
  .pre-commit-config.yaml
Due: none

separate load tests from unit tests
  .github/workflows/backend_integration_tests_pr.yml
  .github/workflows/unit-tests-pr.yml
Due: none

ci: separate unit from load tests and remove pytest from pre-commit (#525)
  .github/workflows/.pre-commit.yml
  .github/workflows/backend_integration_tests_pr.yml
  .github/workflows/unit-tests-pr.yml
  .pre-commit-config.yaml
  sonar-project.properties
Due: none

wip: providers availability handling, implement endpoints in frontend RPC client, add all necessary comps
  backend/database_handler/llm_providers.py
  backend/protocol_rpc/endpoints.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Simulator/ProviderItem.vue
  frontend/src/components/Simulator/ProviderModal.vue
  frontend/src/components/Simulator/ValidatorModal.vue
  frontend/src/components/global/Alert.vue
  frontend/src/components/global/inputs/SelectInput.vue
  frontend/src/services/IJsonRpcService.ts
  frontend/src/services/JsonRpcService.ts
  frontend/src/stores/node.ts
  frontend/src/types/index.ts
  frontend/src/types/requests.ts
  frontend/src/types/results.ts
  frontend/src/views/Simulator/SettingsView.vue
Due: backend-unit-pytest, eslint, prettier
