Repository yeagerai/genlayer-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-unit-pytest, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0 # Use the ref you want to point at
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: ["--branch", "main"]
  - repo: local
    hooks:
      - id: backend-unit-pytest
        name: backend unit tests with pytest
        entry: python3 -m pytest backend
        language: system
        types: [python]
        pass_filenames: false
        files: backend
        always_run: false
  # Copied from https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: sh -c "cd frontend && npm run lint"
        language: system
        files: frontend
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: sh -c "cd frontend && npm run format"
        language: system
        files: frontend

default_install_hook_types:
  - pre-commit
  - commit-msg

feat: expose webrequest get page in html format to intelligent contract sintax (#486)
  backend/node/genvm/equivalence_principle.py
  backend/node/genvm/webpage_utils.py
  examples/contracts/football_prediction_market.py
  webrequest/server.py
Due: backend-unit-pytest

fix: remove unecessary safety check
  frontend/src/hooks/useContractQueries.ts
Due: eslint, prettier

fix: dexie migration: populate hashes and remove id columns
  frontend/src/hooks/useDb.ts
Due: eslint, prettier

feat: load default providers in a thread and cache
  backend/node/create_nodes/providers.py
Due: backend-unit-pytest

Notes added by 'git notes add'
  46d3417829f95f7d96efe1c597c3af9653b8c28c
Due: none

fix: avoid duplicate transactions in queue
  backend/consensus/base.py
Due: backend-unit-pytest

fix: removed unused param
  backend/node/genvm/equivalence_principle.py
Due: backend-unit-pytest

configure renovatebot
  .github/workflows/scan-codeql.yml
  .github/workflows/test-semgrep.yml
  .github/workflows/test-sonarqube.yml
  renovate.json
Due: none

renovate
  renovate.json
Due: none

fix
  renovate.json
Due: none

fix: move revision head
  backend/database_handler/migration/versions/99d3f1bc5a08_add_hash.py
Due: backend-unit-pytest

refactor: separated msg_handler and endpoint generator wrapper. Set proper names for eth, gen, and simulator endpoints
  backend/protocol_rpc/endpoint_generator.py
  backend/protocol_rpc/endpoints.py
  backend/protocol_rpc/message_handler/base.py
  backend/protocol_rpc/server.py
Due: backend-unit-pytest

fix: print execution logs in the backend terminal
  backend/node/genvm/base.py
Due: backend-unit-pytest

feat: improve logging system
  backend/consensus/base.py
  backend/database_handler/transactions_processor.py
  backend/node/genvm/base.py
  backend/protocol_rpc/endpoint_generator.py
  backend/protocol_rpc/message_handler/base.py
  backend/protocol_rpc/server.py
  frontend/src/components/Simulator/NodeLogs.vue
  frontend/src/stores/node.ts
  frontend/src/types/store.ts
Due: backend-unit-pytest, eslint, prettier

feat: basic filtering system
  backend/consensus/base.py
  backend/node/genvm/base.py
  backend/protocol_rpc/endpoint_generator.py
  frontend/src/components/Simulator/LogFilterBtn.vue
  frontend/src/components/Simulator/NodeLogs.vue
  frontend/src/stores/node.ts
Due: backend-unit-pytest, eslint, prettier

feat: search filter
  frontend/src/components/Simulator/NodeLogs.vue
Due: eslint, prettier

changed renovatebot default branch to staging
  renovate.json
Due: none

Notes added by 'git notes add'
  f340ec6b6f77962fd7d60ed87d370e5be4ab5201
Due: none

refactor: move from transaction id to transaction hash (#479)
  .env.example
  backend/consensus/base.py
  backend/database_handler/migration/requirements.txt
  backend/database_handler/migration/versions/99d3f1bc5a08_add_hash.py
  backend/database_handler/models.py
  backend/database_handler/transactions_processor.py
  backend/protocol_rpc/endpoints.py
  frontend/src/components/Simulator/ContractInfo.vue
  frontend/src/components/Simulator/TransactionItem.vue
  frontend/src/components/Simulator/TransactionsList.vue
  frontend/src/hooks/useContractQueries.ts
  frontend/src/hooks/useDb.ts
  frontend/src/hooks/useMockContractData.ts
  frontend/src/plugins/persistStore.ts
  frontend/src/plugins/transactionsListener.ts
  frontend/src/services/IJsonRpcService.ts
  frontend/src/services/JsonRpcService.ts
  frontend/src/stores/node.ts
  frontend/src/stores/transactions.ts
  frontend/src/stores/tutorial.ts
  frontend/src/types/store.ts
  frontend/test/unit/stores/transactions.test.ts
  requirements.txt
  tests/common/request.py
  tests/db-sqlalchemy/chain_snapshot_test.py
  tests/db-sqlalchemy/transactions_processor_test.py
  tests/integration/accounts/test_accounts.py
  tests/integration/contract_examples/mocks/call_contract_function.py
Due: backend-unit-pytest, eslint, prettier

fix frontend gh action
  .github/workflows/frontend-unit-tests.yml
Due: eslint, prettier

fix node version
  .github/workflows/frontend-unit-tests.yml
Due: eslint, prettier

fix fe unit tests
  .github/workflows/frontend-unit-tests.yml
Due: eslint, prettier

ci(sonarcloud): fix organization name
  sonar-project.properties
Due: none

fix: run on all PRs too
  .github/workflows/test-sonarqube.yml
Due: none

try async + globals for contract deployment
  backend/node/base.py
  backend/node/genvm/base.py
Due: backend-unit-pytest

minor refactor and fixes
  backend/consensus/base.py
  backend/node/base.py
Due: backend-unit-pytest

chore: simplify selection logic
  backend/consensus/base.py
  backend/consensus/vrf.py
  tests/unit/test_vrf.py
Due: backend-unit-pytest

refactor to inject node
  backend/consensus/base.py
Due: backend-unit-pytest

start adding test
  backend/protocol_rpc/requirements.txt
  tests/unit/consensus/__init__.py
  tests/unit/consensus/test_base.py
Due: none

fix tests
  backend/consensus/vrf.py
  tests/unit/test_vrf.py
Due: backend-unit-pytest

improve tests
  tests/unit/consensus/test_base.py
Due: none

refactor: add transaction type
  backend/consensus/base.py
  backend/domain/types.py
  backend/node/base.py
Due: backend-unit-pytest

improve tests
  backend/domain/types.py
  tests/unit/consensus/test_base.py
Due: backend-unit-pytest

fix tests
  tests/unit/consensus/test_base.py
Due: none

migrate transaction from numeric to int
  backend/database_handler/migration/versions/eb32e4bdb446_change_value_from_decimal_to_int.py
  backend/database_handler/models.py
  backend/database_handler/transactions_processor.py
Due: backend-unit-pytest

tdd: red
  tests/unit/consensus/test_base.py
Due: none

improve test
  tests/unit/consensus/test_base.py
Due: none

fixes
  backend/database_handler/types.py
  backend/domain/types.py
  backend/node/base.py
  backend/node/genvm/types.py
Due: backend-unit-pytest
