Repository yeagerai/genlayer-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-unit-pytest, eslint, prettier

backend-unit-pytest:
  name: backend unit tests with pytest
  entry: python3 -m pytest backend
  language: system
  pass_filenames: false
  always_run: false

eslint:
  name: eslint
  entry: sh -c "cd frontend && npm run lint"
  language: system

prettier:
  name: prettier
  entry: sh -c "cd frontend && npm run format"
  language: system

test relative paths
  pyproject.toml
Due: none

test: output to default directory
  .github/workflows/unit-tests-pr.yml
  sonar-project.properties
Due: none

filters ui
  frontend/src/components/Simulator/LogFilterBtn.vue
  frontend/src/components/Simulator/NodeLogs.vue
Due: eslint, prettier

go back to separated filter ui
  frontend/src/components/Simulator/LogFilterBtn.vue
  frontend/src/components/Simulator/NodeLogs.vue
Due: eslint, prettier

clear search text on reset
  frontend/src/components/Simulator/NodeLogs.vue
Due: eslint, prettier

tweak ui
  frontend/src/components/Simulator/NodeLogs.vue
Due: eslint, prettier

filter by tx hash, clear search text, cleanup
  frontend/src/components/Simulator/NodeLogs.vue
  frontend/src/components/Simulator/TransactionItem.vue
  frontend/src/stores/node.ts
Due: eslint, prettier

tweak status colors
  frontend/src/components/Simulator/NodeLogs.vue
Due: eslint, prettier

search in data as well
  frontend/src/components/Simulator/NodeLogs.vue
Due: eslint, prettier

Update frontend to allow proxy to jsonrpc server
  .env.example
  docker-compose.yml
  frontend/vite.config.ts
  frontend/vitest.config.ts
  spheron.yaml
Due: eslint, prettier

Revert docker compose
  docker-compose.yml
Due: none

Notes added by 'git notes add'
  c46afbe0834b247374fd8fd808d894ad479d9b22
Due: none

refactor: renamed endpoints to match eth specs
  backend/protocol_rpc/endpoints.py
  frontend/src/services/IJsonRpcService.ts
  frontend/src/services/JsonRpcService.ts
  frontend/src/types/requests.ts
Due: backend-unit-pytest, eslint, prettier

implement loguru and improve terminal logs
  backend/database_handler/transactions_processor.py
  backend/protocol_rpc/message_handler/base.py
  backend/protocol_rpc/requirements.txt
  backend/protocol_rpc/server.py
Due: backend-unit-pytest

add contract deployed event
  backend/consensus/base.py
  frontend/src/stores/node.ts
Due: backend-unit-pytest, eslint, prettier

cleanup, fix tutorial
  frontend/src/components/Simulator/NodeLogs.vue
  frontend/src/stores/node.ts
  frontend/src/stores/tutorial.ts
  frontend/src/types/store.ts
Due: eslint, prettier

remove unused logic in the tutorial
  frontend/src/stores/tutorial.ts
Due: eslint, prettier

fix: endpoint types
  backend/protocol_rpc/endpoints.py
Due: backend-unit-pytest

fix: frontend and backend tests with new endpoints
  frontend/src/hooks/useContractQueries.ts
  frontend/src/services/JsonRpcService.ts
  frontend/src/types/requests.ts
  frontend/test/unit/services/JsonRpcService.test.ts
  frontend/test/unit/stores/node.test.ts
  tests/common/request.py
  tests/integration/accounts/test_accounts.py
  tests/integration/conftest.py
  tests/integration/contract_examples/mocks/call_contract_function.py
  tests/integration/contract_examples/test_storage.py
  tests/integration/test_llm_providers_registry.py
  tests/integration/test_validators.py
Due: eslint, prettier

cleanup and update integration tests
  frontend/src/stores/node.ts
  frontend/src/stores/tutorial.ts
  frontend/src/types/store.ts
  frontend/test/unit/stores/node.test.ts
  tests/integration/contract_examples/mocks/football_prediction_market_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/llm_erc20_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/log_indexer_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/storage_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/user_storage_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/wizard_get_contract_schema_for_code.py
Due: eslint, prettier

fix: db chain snapshopt test
  tests/db-sqlalchemy/chain_snapshot_test.py
Due: none

fix: restored integration test conf
  tests/integration/conftest.py
Due: none

fix: restored account setup on integration tests
  tests/integration/conftest.py
  tests/integration/contract_examples/test_football_prediction_market.py
  tests/integration/contract_examples/test_log_indexer.py
  tests/integration/contract_examples/test_storage.py
  tests/integration/contract_examples/test_wizard_of_coin.py
Due: none

refactor: removed unused import on integration contracts tests
  tests/integration/contract_examples/test_log_indexer.py
Due: none

cleanup
  backend/consensus/base.py
Due: backend-unit-pytest

fix: format
  tests/integration/contract_examples/mocks/call_contract_function.py
Due: none

fix: removed console log
  frontend/src/components/Simulator/ValidatorModal.vue
Due: eslint, prettier

cleanup error handling and message sending in genvm
  backend/node/genvm/base.py
Due: backend-unit-pytest

cleanup and move types to separate file
  backend/consensus/base.py
  backend/database_handler/transactions_processor.py
  backend/node/genvm/base.py
  backend/protocol_rpc/endpoint_generator.py
  backend/protocol_rpc/message_handler/base.py
  backend/protocol_rpc/message_handler/types.py
Due: backend-unit-pytest

cleanup, tweak colors
  frontend/src/components/Simulator/NodeLogs.vue
Due: eslint, prettier

cleanup
  backend/protocol_rpc/message_handler/base.py
Due: backend-unit-pytest

fix: endpoints name
  .env.example
Due: none

fix: PR comments and small improvements
  backend/protocol_rpc/endpoint_generator.py
  backend/protocol_rpc/endpoints.py
  backend/protocol_rpc/message_handler/base.py
  backend/protocol_rpc/server.py
  frontend/src/types/responses.ts
Due: backend-unit-pytest, eslint, prettier

fix: typos on JSON RPC Service interface
  frontend/src/services/IJsonRpcService.ts
Due: eslint, prettier

chore: add frontend debugging config for Chrome (#533)
  .vscode/launch.json
Due: none

refactor: eth and gen endpoints on rpc server (#504)
  .env.example
  backend/node/genvm/equivalence_principle.py
  backend/protocol_rpc/endpoint_generator.py
  backend/protocol_rpc/endpoints.py
  backend/protocol_rpc/message_handler/base.py
  backend/protocol_rpc/server.py
  frontend/src/hooks/useContractQueries.ts
  frontend/src/plugins/transactionsListener.ts
  frontend/src/services/IJsonRpcService.ts
  frontend/src/services/JsonRpcService.ts
  frontend/src/stores/node.ts
  frontend/src/types/requests.ts
  frontend/src/types/responses.ts
  frontend/src/types/results.ts
  frontend/test/unit/services/JsonRpcService.test.ts
  frontend/test/unit/stores/node.test.ts
  tests/common/request.py
  tests/common/response.py
  tests/db-sqlalchemy/chain_snapshot_test.py
  tests/integration/accounts/test_accounts.py
  tests/integration/conftest.py
  tests/integration/contract_examples/mocks/call_contract_function.py
  tests/integration/contract_examples/mocks/football_prediction_market_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/llm_erc20_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/log_indexer_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/storage_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/user_storage_get_contract_schema_for_code.py
  tests/integration/contract_examples/mocks/wizard_get_contract_schema_for_code.py
  tests/integration/contract_examples/test_football_prediction_market.py
  tests/integration/contract_examples/test_llm_erc20.py
  tests/integration/contract_examples/test_log_indexer.py
  tests/integration/contract_examples/test_storage.py
  tests/integration/contract_examples/test_user_storage.py
  tests/integration/contract_examples/test_wizard_of_coin.py
  tests/integration/test_llm_providers_registry.py
  tests/integration/test_validators.py
Due: backend-unit-pytest, eslint, prettier

minor refactor
  backend/node/genvm/base.py
Due: backend-unit-pytest

first iteration: contract-to-contract read methods
  backend/consensus/base.py
  backend/database_handler/contract_snapshot.py
  backend/node/base.py
  backend/node/genvm/base.py
  backend/node/genvm/contract.py
  backend/protocol_rpc/endpoints.py
  tests/integration/contract_examples/read_erc20.py
Due: backend-unit-pytest

handle contract to contract read
  backend/consensus/base.py
  backend/database_handler/contract_snapshot.py
  backend/node/genvm/base.py
Due: backend-unit-pytest

minor fix
  backend/node/genvm/base.py
Due: backend-unit-pytest

Path conditions:
  backend-unit-pytest: any of: backend and \.py$
  eslint: any of: frontend
  prettier: any of: frontend
