Repository yeagerai/genlayer-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-unit-pytest, eslint, prettier

backend-unit-pytest:
  name: backend unit tests with pytest
  entry: python3 -m pytest backend
  language: system
  pass_filenames: false
  always_run: false

eslint:
  name: eslint
  entry: sh -c "cd frontend && npm run lint"
  language: system

prettier:
  name: prettier
  entry: sh -c "cd frontend && npm run format"
  language: system

fix: add debug log to find out why some txs stay on pending
  frontend/src/stores/transactions.ts
Due: eslint, prettier

chore(docker): improve pip cache with buildkit
  docker/Dockerfile.webrequest
Due: none

chore(docker): improve pip cache with buildkit
  docker/Dockerfile.backend
  docker/Dockerfile.database-migration
Due: none

chore(docker): improve pip cache with buildkit (#524)
  docker/Dockerfile.backend
  docker/Dockerfile.database-migration
  docker/Dockerfile.webrequest
Due: none

Add @AgustinRamiroDiaz and @denishacquin (#527)
  renovate.json
Due: none

add / update providers via modal
  frontend/src/components/Simulator/ProviderItem.vue
  frontend/src/components/Simulator/ProviderModal.vue
  frontend/src/components/Simulator/ValidatorModal.vue
  frontend/src/stores/node.ts
  frontend/src/types/index.ts
  frontend/src/views/Simulator/SettingsView.vue
Due: eslint, prettier

fix: add debug log to find out why some txs stay on pending (#518)
  frontend/src/stores/transactions.ts
Due: eslint, prettier

Notes added by 'git notes add'
  10be8c98e49b471b7b1fbff45445ac50f0e3c927
Due: none

build: setup debugging for frontend
  .vscode/launch.json
Due: none

fix: normalize launch config name
  .vscode/launch.json
Due: none

add loading state and errors to modals, add todos in llms for unavailability reasons
  backend/node/genvm/llms.py
  backend/protocol_rpc/endpoints.py
  frontend/src/components/Simulator/ProviderModal.vue
  frontend/src/components/Simulator/ValidatorModal.vue
  frontend/src/stores/node.ts
Due: backend-unit-pytest, eslint, prettier

init
  frontend/src/components/Simulator/AccountItem.vue
  frontend/src/components/Simulator/AccountSelect.vue
  frontend/src/components/Simulator/settings/AccountSection.vue
  frontend/src/components/Simulator/settings/ProviderSection.vue
  frontend/src/components/Simulator/settings/SimulatorSection.vue
  frontend/src/components/SimulatorMenu.vue
  frontend/src/router/index.ts
  frontend/src/views/ProfileView.vue
  frontend/src/views/Simulator/SettingsView.vue
  frontend/src/views/Simulator/ValidatorsView.vue
Due: eslint, prettier

allow debugging the frontend
  .vscode/launch.json
  docker-compose.yml
Due: none

remove unused launch config
  .vscode/launch.json
Due: none

feat(BE): allow leader_only execution
  backend/consensus/base.py
  backend/database_handler/migration/versions/3566595124f6_add_leader_only_flag.py
  backend/database_handler/models.py
  backend/database_handler/transactions_processor.py
  backend/domain/types.py
  backend/protocol_rpc/endpoints.py
  backend/protocol_rpc/transactions_parser.py
  backend/protocol_rpc/types.py
Due: backend-unit-pytest

fix(fe): docker volume config
  docker-compose.yml
  docker/Dockerfile.frontend
Due: eslint, prettier

backend: handle leader_only in transaction data
  backend/database_handler/transactions_processor.py
  backend/protocol_rpc/endpoints.py
  backend/protocol_rpc/transactions_parser.py
  backend/protocol_rpc/types.py
  tests/db-sqlalchemy/Dockerfile
  tests/db-sqlalchemy/chain_snapshot_test.py
  tests/db-sqlalchemy/transactions_processor_test.py
Due: backend-unit-pytest

frontend: add leader only checkbox
  frontend/src/components/Simulator/ConstructorParameters.vue
  frontend/src/hooks/useContractQueries.ts
  frontend/src/views/Simulator/RunDebugView.vue
Due: eslint, prettier

improve docker compose config
  .env.example
  docker-compose.yml
Due: none

improve deserialization
  backend/protocol_rpc/transactions_parser.py
Due: backend-unit-pytest

handle leaderOnly in write methods
  frontend/src/components/Simulator/ContractMethodItem.vue
  frontend/src/components/Simulator/ContractWriteMethods.vue
  frontend/src/hooks/useContractQueries.ts
  frontend/src/views/Simulator/RunDebugView.vue
Due: eslint, prettier

rename
  frontend/src/views/Simulator/RunDebugView.vue
Due: eslint, prettier

fix FE prop
  frontend/src/components/Simulator/ContractReadMethods.vue
Due: eslint, prettier

add unit tests
  tests/unit/test_transactions_parser.py
Due: none

fix e2e tests
  backend/protocol_rpc/endpoints.py
Due: backend-unit-pytest

fix sonarqube python coverage
  .github/workflows/test-sonarqube.yml
  .github/workflows/unit-tests-pr.yml
  sonar-project.properties
Due: none

update GH action to v3
  .github/workflows/unit-tests-pr.yml
Due: none

Notes added by 'git notes add'
  914275e1d4a7492f5fab47d37c694ee26abea94c
Due: none

fix: contract deployed notification when deployment failed
  frontend/src/stores/contracts.ts
Due: eslint, prettier

all events ok but bug on get data
  backend/consensus/base.py
  backend/database_handler/transactions_processor.py
  backend/node/genvm/base.py
  backend/protocol_rpc/endpoint_generator.py
  backend/protocol_rpc/message_handler/base.py
  frontend/src/components/Simulator/NodeLogs.vue
  frontend/src/stores/contracts.ts
  frontend/src/stores/node.ts
  frontend/src/types/store.ts
Due: backend-unit-pytest, eslint, prettier

improve messages, add some todos an clean up
  backend/database_handler/transactions_processor.py
  backend/node/genvm/base.py
  backend/protocol_rpc/endpoint_generator.py
  backend/protocol_rpc/message_handler/base.py
  frontend/src/components/Simulator/LogFilterBtn.vue
  frontend/src/components/Simulator/NodeLogs.vue
  frontend/src/stores/node.ts
Due: backend-unit-pytest, eslint, prettier

improve messages, add category isolation
  backend/database_handler/transactions_processor.py
  backend/node/genvm/base.py
  backend/protocol_rpc/endpoint_generator.py
  frontend/src/components/Simulator/NodeLogs.vue
Due: backend-unit-pytest, eslint, prettier

improve ui
  frontend/src/components/Simulator/NodeLogs.vue
Due: eslint, prettier

max-parallelism = 4
  .github/workflows/backend_integration_tests_pr.yml
  .github/workflows/docker-build-and-push-image.yml
  .github/workflows/load-test-oha.yml
Due: none

Update backend_integration_tests_pr.yml
  .github/workflows/backend_integration_tests_pr.yml
Due: none

feat: allow leader only fast execution (#535)
  .env.example
  .github/workflows/test-sonarqube.yml
  .github/workflows/unit-tests-pr.yml
  .vscode/launch.json
  backend/consensus/base.py
  backend/database_handler/migration/versions/3566595124f6_add_leader_only_flag.py
  backend/database_handler/models.py
  backend/database_handler/transactions_processor.py
  backend/domain/types.py
  backend/protocol_rpc/endpoints.py
  backend/protocol_rpc/transactions_parser.py
  backend/protocol_rpc/types.py
  docker-compose.yml
  docker/Dockerfile.frontend
  frontend/src/components/Simulator/ConstructorParameters.vue
  frontend/src/components/Simulator/ContractMethodItem.vue
  frontend/src/components/Simulator/ContractReadMethods.vue
  frontend/src/components/Simulator/ContractWriteMethods.vue
  frontend/src/hooks/useContractQueries.ts
  frontend/src/views/Simulator/RunDebugView.vue
  sonar-project.properties
  tests/db-sqlalchemy/Dockerfile
  tests/db-sqlalchemy/chain_snapshot_test.py
  tests/db-sqlalchemy/transactions_processor_test.py
  tests/unit/test_transactions_parser.py
Due: backend-unit-pytest, eslint, prettier

sonar: fix org name
  .vscode/settings.json
Due: none

improve sonar path scanning
  sonar-project.properties
Due: none

fix relative path for coverage xml
  .github/workflows/unit-tests-pr.yml
Due: none

improve exclusions
  sonar-project.properties
Due: none

Path conditions:
  backend-unit-pytest: any of: backend and \.py$
  eslint: any of: frontend
  prettier: any of: frontend
